<footer>
    <div class="divFooter">

        <div class="linksFooter">

            <div class="mapa">
                <a rel="noreferrer noopener" target="_blank"
                    href="https://www.google.com/maps/place/R.+Dr.+Miguel+Paulo+Capalbo,+204+-+Pari,+S%C3%A3o+Paulo+-+SP,+03035-040/@-23.5235676,-46.6157116,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce58ea918920e5:0x26140ea1d6354cd6!8m2!3d-23.5235676!4d-46.6135229">
                    <img src="/public/img/mapa.svg"
                        alt="Imágem clicável para acessar em outra aba o mapa de localização da loja"></a>
            </div>

            <div>
                <a href="#" class="links">
                    <h4>Contato</h4>
                </a>
                <a href="#" class="links">
                    <p>Adote!</p>
                </a>

                <a href="#" class="links">
                    <p>contato@animal-e.com.br</p>
                </a>
                <p>R. Dos Aleatórios, nº Xis, São Paulo - SP</p>
                <p>telefone: 99-9999-9999</p>


            </div>

            <div>
                <h4>Produtos</h4>

                <a href="#" class="links">
                    <p>Cães</p>
                </a>
                <a href="#" class="links">
                    <p>Roedores</p>
                </a>
                <a href="#" class="links">
                    <p>Gatos</p>
                </a>
                <a href="#" class="links">
                    <p>Aves</p>
                </a>
                <a href="#" class="links">
                    <p>Peixes</p>
                </a>
            </div>

            <div>
                <h4>Serviços</h4>
                <a href="#" class="links">
                    <p>Pet Táxi</p>
                </a>
                <a href="#" class="links">
                    <p>Banho & Tosa</p>
                </a>
                <a href="#" class="links">
                    <p>Hotel</p>
                </a>
                <a href="#" class="links">
                    <p>Adestramento</p>
                </a>
                <a href="#" class="links">
                    <p>Manutenção de Recintos</p>
                </a>
            </div>

            <div class="iconesPagamentos">
                <img href="../public/icones/visa.png" alt="Aceitamos visa">
                <img href="../public/icones/mastercard.png" alt="Aceitamos mastercard">
                <img href="../public/icones/amex.png" alt="Aceitamos amex">
                <img href="../public/icones/pix.png" alt="Aceitamos pix">
            </div>

        </div>


    </div>

</footer>

<!--bootstrap fim-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
</main>

</html>