<!DOCTYPE html>
<html lang="pt-br">

<head>
    -- Meta tags Obrigatórias --
    <meta charset="utf-8">
    <meta name="viewport" content="wodth=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./home.css">
    <title>Animal-E</title>
</head> -->



<!-- SUGESTÃO DE HEADER / HEAD

    *Manter o header como sticker junto com o head na pasta partials*

    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&family=Quicksand&family=Raleway:wght@400;700&family=Ropa+Sans&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&family=Quicksand&family=Raleway:wght@400;700&family=Ropa+Sans&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">

    <title>Login</title>

</head>


<header>
    <div class="header">

        <div class="headerBuscarElogin">

            <a target="_blank" href="#">
                <img class="logo" src="/public/img/logonova.png" alt="Cão com osso cor de rosa escrito Animal-e">
            </a>

            <input type="search" id="barraPesquisa" placeholder="do que o seu pet precisa hoje?">
            <a id="loginCadastroHeader" href="../Cliente/cadastroCliente.html">Login/Cadastro</a>

        </div>

        <div class="headerNav">
            <nav>
                <a href="#" class="links">Produtos</a>
                <a href="#" class="links">Serviços</a>
                <a href="#" class="links">Contatos</a>
                <a href="#" class="links">Adote!</a>
            </nav>
        </div>



    </div>
</header> -->