*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5EEDC;
    max-width: 100vw;  
    max-height: 100vh;
}

.projeto{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.topo{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 12rem;
    /* border: 1px solid red; */      
}

.topo .logo{
    height: 150px;
    display: flex;
    margin-top: -50px;
    margin-left: 200px;
}

.topo .cep{
    display: flex;
    margin-left: -1000px;
    margin-top: 140px;
    padding: 50px;

}
.racoes{
    margin-top: 135px;
}

.acessorios{
    margin-top: 135px;
    margin-left: 50px;
}

.roupas{
    margin-top: 135px;
    margin-left: 40px;
}

.coleiras{
    margin-top: 135px;
    margin-left: 50px;
}

    
.barrapesquisa{
    margin-right: 20px; 
    width: 50rem;
    height: 2rem; 
    background-color: #ECB390;
    border: none;     
}

.topo .btbuscar{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    background-color: #ECB390;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.topo > .btlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0D8C0;
    width: 8rem;
    height: 5rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.topo .carrinho{
    margin-left: 50px;
    width: 3rem;
    height: 5rem;
}

.topo .fav{
    width: 5rem;
    height: 3rem;
}





.dica1{
    font-size: 40px;
    margin-left: 100px;
    margin-top: -90px;  
}

.vitrines{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    transition: all 0.3 ease-out;
}

.vitrine:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

 .vitrine{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-height: 500px;
     border-radius: 5px;
     box-shadow: 7px 7px 13px 0;
     padding: 10px;
     margin: 20px;
     background-color: #C0D8C0 ;
 }
 
 .vitrine > .img{
     max-width: 300px;
     max-height: 300px;
     object-fit: cover;
 }

 .vitrine > .bt{
     background-color: #ECB390;
     width: 10rem;
     height: 3rem;
     border-radius: 10rem;
     border: none;
     font-size: large;
     font-weight: bold;
 }

 .footer{
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 22rem;
     background-color: #ECB390;
     top: 100px;
     padding:  0 15px;
 }
 
 .footer > .logo{
     height: 15rem;
     width: 15rem;
     align-items: right;
     margin-right: 100px;
 }

 .footer > .mapa{
     height: 16rem;
     width: 50rem;
     align-items: right;
     margin-right: 10px;
     margin-top: 50px;
 }

 .info{
     display: flex;
     flex-direction: column;
     max-width: none;
     min-width: none;

 }

 .footer .textos{
     margin-left: 200px;
     font-size: 15px;
     line-height: 16px;
 }


