<%-include("./partials/header")%>
    
    
    <!--PRODUTOS DENTRO DO CARRINHO-->
    <main>
        <div class="container">
            <hr>
            <h2 class="tittle_carrinho">Carrinho de Compras</h2>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="div_produto_carrinho_1">
                        <a href="#" class="link_img_01">
                            <img src="/images/cachorro.jpg" class="img_produto_item_1">
                        </a>
                        <div class="div_descricao_produto">
                            <h4><b><a href="" class="link_produto">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples
                                </small>
                            </h4>
                        </div>
                        <div class="div_input_button">
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                      </svg>
                                </button>
                                <input type="text" class="form-control text-center border-dark " value="4"> 
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                      </svg>
                                </button><button type="button" class="btn btn-outline-danger btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="div_produto_carrinho_1">
                        <a href="#" class="link_img_01">
                            <img src="/images/cachorro.jpg" class="img_produto_item_1">
                        </a>
                        <div class="div_descricao_produto">
                            <h4><b><a href="" class="link_produto">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples
                                </small>
                            </h4>
                        </div>
                        <div class="div_input_button">
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                      </svg>
                                </button>
                                <input type="text" class="form-control text-center border-dark " value="4"> 
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                      </svg>
                                </button><button type="button" class="btn btn-outline-danger btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="div_produto_carrinho_1">
                        <a href="#" class="link_img_01">
                            <img src="/images/cachorro.jpg" class="img_produto_item_1">
                        </a>
                        <div class="div_descricao_produto">
                            <h4><b><a href="" class="link_produto">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples
                                </small>
                            </h4>
                        </div>
                        <div class="div_input_button">
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                      </svg>
                                </button>
                                <input type="text" class="form-control text-center border-dark " value="4"> 
                                <button type="button" class="btn btn-outline-dark btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                      </svg>
                                </button><button type="button" class="btn btn-outline-danger btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--OUTRAS OPÇÕES-->
            
            <div class="container-opc">
                <h2 class="tittle_cards_outros">Outras Pessoas Visualizam também</h2>
                <div class="cards_outros_produto_detalhes">
                        <div class="card" style="width: 18rem;" name="card-01">
                            <img src="/images/caoDumbo.png" class="card-img-top" alt="...">
                            <h4><b><a href="" class="link_produto_cards">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples<br>
                                    <strong> R$100</strong>

                                </small>
                            </h4>
                        </div>
                        <div class="card" style="width: 18rem;" name="card-02">
                            <img src="/images/caoDumbo.png" class="card-img-top" alt="...">
                            <h4><b><a href="" class="link_produto_cards">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples<br>
                                    <strong> R$100</strong>
                                </small>
                            </h4>
                        </div>
                        <div class="card" style="width: 18rem;" name="card-03">
                            <img src="/images/caoDumbo.png" class="card-img-top" alt="...">
                            <h4><b><a href="" class="link_produto_cards">
                                Nome do Produto
                            </a></b></h4>
                            <h4>
                                <small>
                                    Descrição do Produto Simples<br>
                                    <strong> R$100</strong>
                                </small>
                            </h4>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <%-include("./partials/footer")%>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script> 
</body>
</html>