<%-include("./partials/header")%>

<h1 class="contato">Mande uma mensagem pra gente!</h1>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Endereço de email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Endereço de email">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Escreva sua mensagem</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
    <button class="enviar">Enviar</button>

<%-include("./partials/footer")%>