<%-include("./partials/header")%>

<h1 class="instituto">O Instituto Luisa Mell</h1>

<img class= "" src="../imagems/doe.png" alt=""></img>

<div class="contexto">
    <p>Fundado em fevereiro de 2015, o Instituto Luisa Mell atua principalmente no resgate de animais feridos ou em situação de risco, recuperação e adoção. Mantemos um abrigo com cerca de 300 animais, entre cães e gatos, todos resgatados das ruas, onde eles são protegidos, alimentados e aguardam pela chance de serem adotados

        O Instituto Luisa Mell fica em Ribeirão Pires, na região metropolitana, em um terreno de 27.000 metros quadrados. Há centro cirúrgico com atendimento veterinário 24 horas. São necessários cerca de 300.000 reais por mês para sustentá-lo e são as doações, parcerias e vendas na loja que tornam esse sonho possível.</p>
</div>



<%-include("./partials/footer")%>