<%-include("./partials/header")%>

  <!-- começo da vitine -->

  <body class="produto-interno">
    <h1 class="destaque">Produtos em destaque:</h1>
    <div class="container-produtos">
      <div class="main-card">
        <div class="cards">
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/blue.png" alt="Comedouro duplo azul"></a>
              </div>
              <div class="details">
                <div class="name">Comedouro Duplo</div>
                <div class="descricao">Coloque água e ração<br> no mesmo pote</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/mochilaGato.png" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Mochila Vai pra Onde?</div>
                <div class="descricao">Mochila para Gatos - Tamanho único!</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/caoFloquinho.png" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Kit de Brinquedos</div>
                <div class="descricao">Acompanha brinquedo e roupinha</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/flouffy-PJTfOzSo8fQ-unsplash.jpg" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Conjunto Sport</div>
                <div class="descricao">Conjunto Polo & Jeans <br>Todos os tamanhos</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
        </div>
        <h1 class="quem-viu">Campeões de venda:</h1>
        <div class="cards">
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/bebedouro.jpg" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Bebedouro - Pássaros</div>
                <div class="descricao">Para pássaros tamanho médio - 300ml - 1 unidade</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/racao.png" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Ração para Cachorros</div>
                <div class="descricao">Para cães adultos - 1,5 a 5 anos - Sabor frango - 15kg</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/racaoParaGatos.png" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Ração para Gatos</div>
                <div class="descricao">Para gatos adultos - 1,5 a 5 anos - Sabor frango - 5kg</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <a href="/produtointerno"><img src="/images/casinhacoelho.jpg" alt=""></a>
              </div>
              <div class="details">
                <div class="name">Viveiro com tela</div>
                <div class="descricao">Para mini coelhos e porquinhos da índia</div>
                <button class="btpreco">Preço</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>

  <!-- Fim das vitrines -->
  <%-include("./partials/footer")%>