<title>Cadastro</title>

<%-include("./partials/header")%>

<h1 class="cadastro">Faça seu cadastro em nosso site:</h1>
<form class="formulario">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome Completo</label>
      <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu nome completo">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Usuário/Login</label>
      <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Usuário/Login">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu telefone">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">CEP</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CEP">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Estado</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Cidade</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Rua</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Complemento</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      </div>
     </form>
    <button type="submit" class="btcadastro">Cadastrar</button>
  


    <!-- <div class="container">
        <div class="forms-signup">

            <div class="form login">

                <span class="title">Cadastro</span>

                <form action="./home.ejs">
                    <div class="input-field">
                        <input type="text" name= "nomeCompleto" placeholder="Seu nome e sobrenome" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name= "email" placeholder="Seu email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name= "senha" class="password" placeholder="Crie uma senha" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name= "senhaNovamente" class="password" placeholder="Repita a senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="sigCheck">
                            <label for="sigCheck" class="text">Lembre-me</label>
                        </div>

                        
                    </div>

                
                        <button class="btentre" href="./home" >Entre</button>
                    
                </form>
            </div>


            <div class="form login">

                <span class="title">Login</span>

                <form action="./home.ejs">
                    <div class="input-field">
                        <input type="text" placeholder="Seu e-mail" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="current-password" class="password" placeholder="Sua Senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Lembre-me</label>
                        </div>

                        <a href="#" class="text">Esqueceu a sua senha?</a>
                    </div>

                        <button class= 'btentre' href="./home.ejs" >Entre</button>
                    
                </form>

                
            </div>

        </div>
    </div>
     -->


<%-include("./partials/footer")%>