<title>Cadastro</title>

<%-include("./partials/header")%>

  <h1 class="cadastro">Faça seu cadastro em nosso site:</h1>
  <% if(typeof errors !=='undefined' ){ %>
    <ul>
      <% for(let error in errors ){%>
        <li>
          <b><%= error %>: </b>
          <%= errors[error].msg %>
        </li>
        <% } %>
    </ul>
    <% } %>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Insira sua foto</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nome Completo</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Seu nome completo">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Usuário/Login</label>
        <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Usuário/Login">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Seu telefone">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">CEP</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="CEP">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Estado</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Estado">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Cidade</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Cidade">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Rua</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Rua">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Bairro</label>
        <input type="name" class="form-control" placeholder="Bairro">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Complemento</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Complemento">
      </div>


      <button type="submit" class="btcadastro">Cadastrar</button>
    </form>



    <%-include("./partials/footer")%>