*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    max-width: 100vw;  
    max-height: 100vh;
}
.wpp:hover{
    color:#DD4A48;
    transition: 1s ease-in-out;
}

.wpp{
    color: green;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50rem;
    right: 2rem;
    z-index: 1;
}

.projeto{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.topo{
    background-color:#F5EEDC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */      
}

.topo .logotop{
    height: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.pesquisa{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}
.topo .barrapesquisa{
    margin-right: 20px;
    width: 600px;
    height: 3rem; 
    background-color: #ECB390;
    border: none;
}

.barrapesquisa:focus{
    outline: 0;
}

.btbuscar:hover{
    cursor: pointer;
}
.btbuscar{
    background-color: #ECB390;
    border: none;
    height: 3rem;
    width: 4rem;
    margin-right: 100px;
}
.divtop{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    height: 4rem;
    box-sizing: border-box;
    background-color: #ECB390;
    font-size: 20px;
}  

a:hover{
    color:#F5EEDC;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btlogin:hover{
    color: #F5EEDC;
    cursor: pointer;
}

.topo > .btlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C0D8C0;
    width: 9rem;
    height: 3rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
}   

.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    transition: all 0.3 ease-out;
}

.cards2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    transition: all 0.3 ease-out;
}

.card:hover{
    transform: translateY(-5px);
}

 .card{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 50rem;
     height: 30rem;
     border-radius: 20px;
     box-shadow: 7px 7px 13px 0;
     padding: 10px;
     margin: 50px;
     margin-top: 100px;
     background-color: #C0D8C0 ;
     border-color: #DD4A48;
 }

 .cardtexto {
     width: 55%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     line-height: 40px;
     font-size: 20px;
     /* border: 1px solid red; */
     text-align: center;
 }
 
 .card .img{
     width: 300px;
     height: 400px;
 }
 
 .btcontratar:hover{
     background-color:#DD4A48;
     color: white; 
     cursor: pointer;   
 }

 .btcontratar{
     width: 10rem;
     height: 3rem;
     border-radius: 1rem;
     font-size: large;
     font-weight: bold;
     border: none;
 }


.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
    max-width: 100%;
    background-color: #F5EEDC;
    top: 100px;
    padding:  0 15px;
    box-sizing: border-box;
}

.logosociais{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.logofoot{
    height: 300px;
    width: 300px;
}

.redessociais{
    margin-bottom: 10px;
}


.footer > .mapa{
    border: 1px;
    border-color:#DD4A48;
    height: 20rem;
    width: 60rem;
    max-width: 90%;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-width: 90%;
    margin-top: 30px;
    box-sizing: border-box;

}

.footer .textos{
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
    box-sizing: border-box;
}
.footer .pagamentos{
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}
.footer .bandeiras{
    margin-top: 30px;
    margin-bottom: 30px;
}



@media (max-width: 800px){
    
    .wpp:hover{
        color:#DD4A48;
        transition: 1s ease-in-out;
    }

    .wpp{
        color: green;
        height: 60px;
        width: 60px;
        position: fixed;
        top: 3rem;
        right: 2rem;
        z-index: 1;

    }
    .topo{
        flex-direction: column;
        margin: none;
        padding: none;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .divtop{
       display: none;
    }
    
    .topo{
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
    }
    
    .pesquisa{
       max-width: 90%;
       margin-left: 100px;
   }

   .servicos{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       font-size: 40px;
   }
     
   .cards1{
        flex-direction: column;
    }

   .cards2{
       flex-direction: column;
   }

   .card{
       width: 500px;
       height: 300px;
   }

   .cardtexto{
       font-size: 15px;
       line-height: 20px;
       text-align: center;
   }

   .card .img{
       width: 200px;
       height: 270px;
   }

   .nome{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 100px;
       padding: none;
    }

    .btcontratar:hover{
        background-color:#DD4A48;
        color: white;   
    }





   .footer{
       max-width: 100%;
       max-height: 100%;
       flex-direction: column;
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
   } 
   .footer{
       flex-direction: column;
   }

   .footer > .textos{
       margin-top:50px;
       align-items: center;
       align-content: center;
       justify-content: center;
   }

   .footer > .textos{
       margin-top:50px;
       align-items: center;
       align-content: center;
       justify-content: center;
   }

   .footer .mapa{
       display: none;
   }
}