* {
    box-sizing:border-box;
    border-radius: 11px;
    background-color: #F5EEDC;

}

a {
    color: #DD4A48;
    text-decoration: none;
    transition-duration: 1s;
    transition-delay: 0.5ms;
    transition-property: color;
}

a:hover {
    color: #DD4A48;
    cursor: pointer;
    opacity: 80%;
    transition-property: color;
}
.logo {
    max-width: 300px;
    max-height: 450px;

}

.logo, .headerBuscarElogin, .headerNav {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction:column;
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: column;
    align-content: flex-start;
    justify-content: space-around;
    font-size:larger;
    width: 100%;
    top: 0px;
    border-color: #C0D8C0;
    border-style: solid;
    z-index: 9999;
}


.headerNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


.headerBuscarElogin {
   display:inline-block;
   
}


body {
    font-family: 'Quicksand', sans-serif;
    color: #DD4A48;
    background: 1301px;
    margin: 0, 20px, 0, 20px;
    
}


.nossoSocialMidia {
    display:inline-flex;
    flex-direction:column;
    border-color: #DD4A48;
    border-style: solid;
    padding: 10px;
    justify-content:space-around;
    position: -webkit-sticky;
    position: sticky;
}


#tituloCadastroCliente {
    color: #DD4A48;
    font-size: xx-large;
    font-weight: 500;
    inline-size: auto;

}

.iconesLogin {
    display: flex;
    flex-wrap: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    
}


.loginSocialMidia, .login {
    display: flex;
    flex-wrap: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    border: 2px;
    background-size: 100px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    border-color: #DD4A48;
    background-color: #C0D8C0;
}


#email, #senha {
    background-color: #F5EEDC;
}

.login {
    color: #DD4A48;
    background-color: #C0D8C0;
}

#botaoEntrar {
    color: #C0D8C0;
    background-color: #DD4A48;
    border-color: #C0D8C0;
    
}


.iconesLogin {
    background-color: #F5EEDC;
    background-size: 200px, 200px;
}


.iconesPagamentos {
    display: flex;
    display: table-column;
    -ms-grid-columns: auto;
}

.linksFooter {
    color: #DD4A48;
    font-size: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-column: auto;
    background: #F5EEDC;
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 57px;
    padding: 60px;
    justify-items: center;
    align-items: center;
}

